
.vs/VmansAddonPack/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
.vs/VmansAddonPack/v15/Server/sqlite3/storage.ide
.vs/VmansAddonPack/v15/Server/sqlite3/storage.ide-wal
.vs/VmansAddonPack/v15/Server/sqlite3/storage.ide-shm
.vs/VmansAddonPack/v15/.suo
.vs/*
.vs/VmansAddonPack/v15/.suo
.vs/VmansAddonPack/v15/Server/sqlite3/storage.ide
.vs/VmansAddonPack/v15/Server/sqlite3/storage.ide-shm
.vs/VmansAddonPack/v15/Server/sqlite3/storage.ide-wal
